@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

body {
  background-color: #0099ffda;
  overflow: hidden;
}

.barra-lateral {
  position: fixed;
  background-color: #324D6A;
  color: #FFF;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 15%;
  padding: 20px;
}

.barra-lateral img {
  position: absolute;
  height: 160px;
  border-radius: 40%;
  margin-top: 15px;
  left: 50%;
  transform: translate(-50%);
}

.barra-lateral h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 200px;  
}

.barra-lateral p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 80px;
  margin-bottom: 100px;
}

.barra-lateral ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  column-count: 2;
}

.barra-lateral li {
  margin-bottom: 60px;
}

.barra-lateral a {
  background-color: #0099FF;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 10px;
}

.barra-lateral a:hover {
  background-color: black;
}

.container-to-do {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 85%;
    margin-left: 15%;
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin-left: 23.5%;
  padding-top: 70px;
  margin-bottom: -105px;
}

.to-do-list {
  background-color: #FFF;
  height: 70%;
  width: 40%;
  padding: 20px;
  margin: 7% .5%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.to-do-list h2 {
  display: flex;
  margin-bottom: 40px;
}

.to-do-list h2 img {
  height: 27px;
  margin-left: 10px;
}

.add-form {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  width: 100%;
  padding: 15px;
  border: 1px solid #DDD;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

button.enviar {
  background-color: #0099FF;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 10px 15px;
  border: 1px solid #DDD;
  text-align: center;
}

td {
  color: #333;
  font-weight: 600;
}

tr:nth-child(even){
  background-color: #F5F5F5;
}

select {
  text-align: center;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #ebebeb;
}

select:hover {
  background-color: #DDD;
}

.checked {
  text-decoration: line-through;
}

.btn-acao {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #FFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#btn-edit {
  background-color: orange;
  margin-right: 5px;
}

#btn-delete {
  background-color: rgba(237, 42, 42, 0.9);
}

#btn-save {
  background-color: #0099FF;
  height: 50px;
  width: 75px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

footer {
    background-color: #324D6A;
    color: #F5F5F5;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    margin-left: 15%;
    width: 85%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

footer a {
    text-decoration: none;
    color: #0099FF;
}

footer a:hover {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
}