@charset "UTF-8";

* {
    margin: 0;
    padding: 0;   
}

body {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.profile {
    width: 20%;
    background-color: #333;
    color: #291b1b;
    padding: 20px;
    height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
}

#foto-perfil {
    display: flex;
    margin: 0, 50px;
    flex-direction: column;
}

#foto-perfil img {
    margin: 0;
    max-width: 250px;
    border-radius: 50%;
    justify-content: center;
}

#to-do-list {
    flex: 1;
    margin: 20px;
    margin-top: 100px;
    padding: 20px;
    height: 70vh;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



#titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.lista-container {
    display: flex;
}

.lista {
    flex: 1;
    padding: 20px;
    padding-top: 0;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
}

.lista h3 {
    text-align: center;
    margin-bottom: 50px;
}

ul, li {
    list-style-type: none;
    margin-bottom: 10px;
}
