@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}



body {
  background-color: #0099FF;
}

.container-to-do {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 790px;
    margin-left: 15%;
}

.to-do-list {
  background-color: #FFF;
  border-radius: 8px;
  padding: 20px;
  height: auto; /* corrigir aqui */
  width: 48%;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 5px;
}

.add-form {
  display: flex;
  margin-bottom: 50px;
  gap: 15px;
  width: 100%;
}

input {
  width: 100%;
  flex: 1;
  padding: 15px;
  border: 1px solid #DDD;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

button.enviar {
  background-color: #0099FF;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

button.save-button {
  background-color: #0099FF;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 10px 15px;
  border: 1px solid #DDD;
  text-align: center;
}

td {
  color: #333;
  font-weight: 600;
}

tr:nth-child(even){
  background-color: #F5F5F5;
}

select {
  text-align: center;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #ebebeb;
}

select:hover {
  background-color: #DDD;
}

.checked {
  text-decoration: line-through;
}

.btn-acao {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #FFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#btn-edit{
  background-color: orange;
  margin-right: 5px;
}

#btn-delete{
  background-color: rgba(237, 42, 42, 0.9);
}

.barra-lateral {
    width: 15%;
    background-color: #333;
    color: #FFF;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100vh;
}

footer {
    background-color: #333;
    color: #F5F5F5;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #0099FF;
}